<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/base.css">
  <link rel="stylesheet" href="./css/componentes/botao.css">
  <link rel="stylesheet" href="./css/componentes/cabecalho.css">
  <link rel="stylesheet" href="./css/componentes/cartao.css">
  <link rel="stylesheet" href="./css/componentes/inputs.css">
  <title>Crud - na Web</title>
</head>
<body>
  <main class="container flex flex--centro flex--coluna">
    <section class="cartao cadastro">
        <h1 class="cartao__titulo">Novo Cadastro</h1>
        <form class="flex flex--coluna" data-form>
            <div class="input-container">
                <input name="nome" id="nome" class="input" type="text" placeholder="Nome" required data-tipo="nome">
                <label class="input-label" for="nome">Nome</label>
                <span class="input-mensagem-erro">Esse campo não pode estar vazio</span>
            </div>
            <div class="input-container">
                <input name="email" id="email" class="input" type="text" placeholder="email" required data-tipo="email">
                <label class="input-label" for="email" >email</label>
                <span class="input-mensagem-erro">Esse campo não pode estar vazio</span>
            </div>
            <div class="input-container">
              <input name="senha" id="senha" class="input" type="password" placeholder="Senha" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?!.*[ !@#$%^&*_=+-]).{6,12}$" required data-tipo="senha">
              <label class="input-label" for="nome">Senha</label>
              <span class="input-mensagem-erro">Esse campo não pode estar vazio</span>
          </div>
            <button type="submit"class="botao">
            Cadastrar
        </button>
        </form>
    </section>
</main>
  <script type="module" src="../controller/validacoes/getInputs.js"></script>
  <script src="../controller/cadastrarUsuario.js"></script>
  <script src="../controller/editarUsuario.js"></script>
</body>
</html>